azul = #004667
gris0 = #e6e6e6
gris1 = #b2b2b2
gris2 = #515151
verde0 = #66c6c4
facebook = #4a70af
twitter = #32b4e5
instagram = #d2bdaa
mail = #b3b3b3

.azul
	color azul
.verde0
	color verde0
.mayus
	text-transform uppercase
.italic
	font-style italic
.m-top-20
	margin-top 20px
.btn.btn-primary
	border-radius 0px
	width 100%
	&.azul
		background azul
		color white
body
	background gris1
.js .main-navigation ul
	display block
	background transparent
.single-featured-image-header
	padding-top 25px
.site-branding
	position fixed
	z-index 100
	width 100%
.site-content-contain
	left 0
	position relative
	transition .3s
	&.moved
		left -260px
		position relative
		transition .2s
.main-navigation-container
	position absolute
	right -260px
	z-index 1
	width 260px
	display block
	opacity 0
	&.alpha
		opacity 1
		transition .5s
	.main-navigation
		ul.menu
			border none
		li
			border-bottom 1px solid rgba(gris2, .1)
			&:last-of-type
				border none
	.navigation-top
		background transparent
		border none
		position fixed
		.wrap
			overflow hidden
		.current-menu-item > a
		.navigation-top .current_page_item > a
			color black
		a
			color white
			font-size 1.6em
			padding 16px 0
#page
	overflow hidden
.panel-content
	margin-bottom 30px
.site-branding
	background verde0
	height 50px
	overflow hidden
.logo-container
	background gris0
	display inline-block
	margin -100px 0 0 -20px
	padding 100px 0 100px 20px
	transform rotate(20deg)
	vertical-align middle
	width 50%
#logo
	display inline-block
	max-width 90%
	transform: rotate(-20deg);
.twentyseventeen-panel
	overflow visible
.twentyseventeen-front-page.has-header-image
	.site-branding
		margin 0 !important
		position relative
.site-branding
	padding 0
body:not(.title-tagline-hidden) .site-branding-text
.site-branding-text
	display none
h1.site-title
	color white
	font-size .8em
.nav-button
	display inline-block
	float right
	.navbar-toggle
		height auto
		padding 8px 2px
		width 40px
		span.icon-bar
			background white
			border-radius 0px
			height 3px
			width 100%
.has-header-image.twentyseventeen-front-page
	.custom-header
		background #59c3c1
		display block
		height 50px
.twentyseventeen-front-page
	.custom-header
		background #59c3c1
		display block
		height 50px
		overflow hidden
.main-banners-container
	margin-top -10px
	position relative
	z-index 10
	.item
		position relative
		color white
.banner-info-container
	position absolute
	top 25%
	left 10%
	text-shadow 0px 0px 7px gris2
	.banner-title
		font-size 2.2em
	.banner-description
		font-size 1.4em
.block-title
	color white
	border-bottom 1px solid gris1
	span
		background azul
		padding 5px 10px
		display inline-block
.home-next-events
	.events-container
		margin-top 20px
		display flex
		justify-content space-around
		.item
			text-align center
			width 30%
			.calendar
				width 80%
				margin 0 auto
				.month
					background azul
					color white
					font-size 1.4em
					padding 5px 0
					border-radius 4px 4px 0 0
				.day
					background gris0
					color azul
					font-size 4em
					padding 10px 0
					border-radius  0 0 4px 4px
			.description
				color verde0
				margin-top 10px
.allies-container
	display flex
	flex-wrap wrap
	justify-content space-around
	.item-allie
		margin-top 20px
		width 103px
		height 75px
		background transparent url(./assets/images/sprite_logos_mobile.jpg) no-repeat left top
		&.gse
			background-position -116px 0px
		&.esportiva
			background-position -231px 0px
		&.breezing
			background-position -347px 0px
		&.evolution
			background-position -463px 0px
.single-featured-image-header
	border none
.icon-bulls-eye
.icon-plane
	margin-right 5px
.entry-header
	text-align center
body.page:not(.twentyseventeen-front-page)
	.entry-title
		font-size 1.8em
		margin -65px 0 50px 0
		color white
		text-shadow 0px 0px 5px gris2
	.main-navigation-container
		margin-top 50px
img.about
	max-width 60%
#miembros-fundadores
	.entry-title
		margin-top -25px
		margin-bottom 10px
.members-container
	.member-item
		margin-bottom 40px
		.title
			text-align center
		.photo
			text-align center
			.member-photo-container
				background gris0
				border-radius 50%
				width 180px
				height 180px
				display inline-block
				overflow hidden
				z-index 2
				position relative
			.member-photo-shadow-container
				margin-top -40px
				position relative
				z-index 1
			.position
				margin-bottom 10px
			.review-link
				background azul
				color white
				border none
				border-radius 0px
				&:hover
					background rgba(azul, .8)
#contacto
	.entry-title
		margin-bottom 34px
#map
	display block
	height 300px
	margin-bottom 30px
	width 100%
input[type="text"]
.form-control
	border-radius 0px
	background gris0
	border none
	resize none
.site-footer
	background gris0
	text-align center
	.col-left
	.col-center
	.col-right
		margin-bottom 20px
	.hashtag
		font-size 2.2em
		color verde0
		font-style italic
		span
			color azul
	.logo
		width 200px
		height auto
		display inline-block
	.social
		padding 0
		li
			display inline-block
			font-size 3em
			margin 0 5px
			.icon-facebook
				color facebook
			.icon-twitter
				color twitter
			.icon-instagram
				color instagram
			.icon-mail
				color mail
@media screen and (min-width: 380px)
	.logo-container
		width 200px
	#logo
		max-width 150px
@media screen and (min-width: 480px)
	.banner-info-container
		position absolute
		top 30%
		left 15%
		.banner-title
			font-size 2.8em
		.banner-description
			font-size 1.6em
	body.page:not(.twentyseventeen-front-page)
		.entry-title
			font-size 2.4em
			margin -130px 0 70px 0
	#miembros-fundadores
		.entry-title
			margin-top -70px
@media screen and (min-width: 650px)
	#miembros-fundadores
		.entry-title
			margin-top -80px
@media screen and (min-width: 768px)
	body:not(.title-tagline-hidden) .site-branding-text
	.site-branding-text
		display inline-block
		left 210px
		top 10px
	body:not(.title-tagline-hidden)
		.site-branding-text
			position absolute
		    display inline-block
		    left 210px
	.site-branding-text
			position absolute
		    display inline-block
		    left 210px
	.site-title a
		color white
		font-weight 100
	.navigation-top
		bottom initial
		font-size 1.1em
		left initial
		right initial
		width 260px
	.navigation-top.site-navigation-fixed
		display none
	.custom-header
		margin-bottom -2px !important
	.navbar-toggle
		display inline-block
	.banner-info-container
		top 30%
		left 15%
		.banner-title
			font-size 4em
		.banner-description
			font-size 2.4em
	.home-next-events
	.home-allies
		.wrap
			padding-top 20px
		&.panel-content
			margin-bottom 10px
	.home-next-events
		.events-container
			.item
				.calendar
					width 60%
				.description
					font-size 1.3em
	.block-title
		font-size 1.4em
	body.page-two-column:not(.archive)
		#primary
			.entry-header
			.entry-content
				width 100%
				float none
	.single-featured-image-header
		padding-top 0
	img.about
		max-width 45%
	body.page:not(.twentyseventeen-front-page)
		.entry-title
			font-size 3em
			margin -150px 0 100px 0
	#acerca-de
		.col-sm-6
			h2.title
				font-size 1.9em
				vertical-align middle
				.icon-bulls-eye
				.icon-plane
					font-size 1.2em
	#miembros-fundadores
		.entry-title
			margin-top -60px
			margin-bottom 30px
	.members-container
		.member-item
			margin-bottom 60px
			overflow hidden
			height auto
			&:last-of-type
				margin-bottom 0
			.photo
				.title
					padding-left 10px
					padding-right 10px
				.position
					font-size 1.4em
				.btn.btn-primary
					width auto
				.review-link
					display inline-block
					padding-left 50px
					padding-right 50px
			.info
				padding-top 15px
				line-height 26px
				font-size 1.2em
	#map
		margin-top 55px
	.site-footer
		.first-block
			vertical-align middle
			overflow hidden
		.hashtag
			font-size 2em
			margin-top 15px
		.logo
			width 160px
		.social
			text-align right
			margin-top 5px
			li
				font-size 4em
@media screen and (min-width: 992px)
	.twentyseventeen-front-page
		.custom-header
			height 90px
	.site-branding
		height 90px
	.logo-container
		width 400px
		margin-top -88px
	#logo
		max-width 280px
	body:not(.title-tagline-hidden) .site-branding-text
	.site-branding-text
		left 450px
		top 17px
	body:not(.title-tagline-hidden)
		width 100%
	h1.site-title
		font-size 1.9em
		line-height .95em
	body:not(#inicio)
		.site-title
			font-size 1.9em
			line-height .95em
	body.page:not(.twentyseventeen-front-page)
		.main-navigation-container
			margin-top 90px
	.nav-button
		.navbar-toggle
			width 50px
			padding-right 10px 2px
			margin-top 24px
			margin-right 25px
			margin-bottom 22px
			span.icon-bar
				height 5px
			.icon-bar+.icon-bar
				margin-top 6px
	.main-navigation
		li
			display block
	.main-banners-container
		max-width 1000px
		margin-left auto
		margin-right auto
	.home-next-events
		.events-container
			margin-top 40px
			.item
				width 28%
				.calendar
					width 65%
					.month
						font-size 1.6em
						padding 7px 0
					.day
						font-size 5em
				.description
					font-size 1.6em
	.allies-container
		margin-top 30px
		.item-allie
			margin-top 20px
			width 151px
			height 110px
			background transparent url(./assets/images/sprite_logos.jpg) no-repeat left -15px
			&.gse
				background-position -169px 0px
			&.esportiva
				background-position -339px 0px
			&.breezing
				background-position -509px 0px
			&.evolution
				background-position -680px 0px
	.single-featured-image-header
		max-width 1000px
		margin 0 auto
	#miembros-fundadores
		.entry-title
			margin-top -70px
			margin-bottom 50px
	body.page:not(.twentyseventeen-front-page)
		.entry-title
			font-size 3.5em
	.members-container
		.member-item
			margin-bottom 80px
			.photo
				.member-photo-shadow-container
					margin-top -60px
				.position
					font-size 1.5em
					margin-top -30px
					position relative
					z-index 1
			.info
				padding-top 30px
				line-height 30px
				font-size 1.3em
	#map
		margin-top 50px
	.site-footer
		.hashtag
			float left
		.logo
			width 200px