@charset "UTF-8";

@font-face {
  font-family: "icons-font";
  src:url("fonts/icons-font.eot");
  src:url("fonts/icons-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons-font.woff") format("woff"),
    url("fonts/icons-font.ttf") format("truetype"),
    url("fonts/icons-font.svg#icons-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\61";
}
.icon-arrow-right:before {
  content: "\62";
}
.icon-bulls-eye:before {
  content: "\64";
}
.icon-facebook:before {
  content: "\65";
}
.icon-mail:before {
  content: "\68";
}
.icon-plane:before {
  content: "\67";
}
.icon-twitter:before {
  content: "\69";
}
.icon-instagram:before {
  content: "\6a";
}
.icon-birrete:before {
  content: "\63";
}
.icon-globo:before {
  content: "\66";
}
.icon-lapiz:before {
  content: "\6b";
}
.icon-manzana:before {
  content: "\6c";
}
.icon-regla:before {
  content: "\6d";
}
.icon-phone:before {
  content: "\6e";
}
.icon-mail-env:before {
  content: "\6f";
}
.icon-bill:before {
  content: "\70";
}
.icon-calendar:before {
  content: "\71";
}
.icon-clock:before {
  content: "\72";
}
.icon-list:before {
  content: "\73";
}
